.invisible {
  opacity: 0;
}

.hidden {
  display: none !important;
}

@media (max-width: map-get($mediaSizes, 's') - 1) {
  .hide-xs {
    display: none !important;
  }
}

@include media(s) {
  .hide-gt-xs {
    display: none !important;
  }
}

@media (min-width: map-get($mediaSizes, 's')) and (max-width: map-get($mediaSizes, 'm') - 1) {
  .hide-s {
    display: none !important;
  }
}

@include media(m) {
  .hide-gt-s {
    display: none !important;
  }
}

@media (min-width: map-get($mediaSizes, 'm')) and (max-width: map-get($mediaSizes, 'l') - 1) {
  .hide-m {
    display: none !important;
  }
}

@include media(l) {
  .hide-gt-m {
    display: none !important;
  }
}

@media (min-width: map-get($mediaSizes, 'l')) and (max-width: map-get($mediaSizes, 'xl') - 1) {
  .hide-l {
    display: none !important;
  }
}

@include media(xl) {
  .hide-xl,
  .hide-gt-l {
    display: none !important;
  }
}

.icon {
  background-size: cover;
  background-image: url(~@/assets/images/icons/icon-missing.png);
}

.access {
  @include access;
}

.c-error {
  color: $cError;
}

.c-success {
  color: $cSuccess;
}

.c-text-light {
  color: $cTextLight;
}

.capitalize {
  text-transform: capitalize;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pull-up {
  margin-top: -10px;
}
