.icon-elves {
  background-image: url(~@/assets/images/icons/icon-elves.png);
}
.icon-trolls {
  background-image: url(~@/assets/images/icons/icon-trolls.png);
}
.icon-humans {
  background-image: url(~@/assets/images/icons/icon-humans.png);
}
.icon-orcs {
  background-image: url(~@/assets/images/icons/icon-orcs.png);
}
.icon-gnomes {
  background-image: url(~@/assets/images/icons/icon-gnomes.png);
}
.icon-dwarves {
  background-image: url(~@/assets/images/icons/icon-dwarves.png);
}

.icon-dark-forest {
  background-image: url(~@/assets/images/icons/icon-dark-forest.png);
}
.icon-jungle {
  background-image: url(~@/assets/images/icons/icon-jungle.png);
}
.icon-desert {
  background-image: url(~@/assets/images/icons/icon-desert.png);
}
.icon-grassland {
  background-image: url(~@/assets/images/icons/icon-grassland.png);
}
.icon-mountain {
  background-image: url(~@/assets/images/icons/icon-mountain.png);
}
.icon-rocky-mountain {
  background-image: url(~@/assets/images/icons/icon-rocky-mountain.png);
}
.icon-swamp {
  background-image: url(~@/assets/images/icons/icon-swamp.png);
}
.icon-tundra {
  background-image: url(~@/assets/images/icons/icon-tundra.png);
}
.icon-taiga {
  background-image: url(~@/assets/images/icons/icon-taiga.png);
}
.icon-lake {
  background-image: url(~@/assets/images/icons/icon-lake.png);
}
.icon-sea {
  background-image: url(~@/assets/images/icons/icon-sea.png);
}
.icon-tropical-paradise {
  background-image: url(~@/assets/images/icons/icon-tropical-paradise.png);
}
.icon-mushroom-forest {
  background-image: url(~@/assets/images/icons/icon-mushroom-forest.png);
}
.icon-wasteland {
  background-image: url(~@/assets/images/icons/icon-wasteland.png);
}
.icon-volcanic-lands {
  background-image: url(~@/assets/images/icons/icon-volcanic-lands.png);
}
.icon-floating-rocks {
  background-image: url(~@/assets/images/icons/icon-floating-rocks.png);
}

.icon-tiger {
  background-image: url(~@/assets/images/icons/icon-tiger.png);
}
.icon-dragon {
  background-image: url(~@/assets/images/icons/icon-dragon.png);
}
.icon-sapphire-dragon {
  background-image: url(~@/assets/images/icons/icon-sapphire-dragon.png);
}
.icon-stone-giant {
  background-image: url(~@/assets/images/icons/icon-stone-giant.png);
}
.icon-wolf {
  background-image: url(~@/assets/images/icons/icon-wolf.png);
}
.icon-lion {
  background-image: url(~@/assets/images/icons/icon-lion.png);
}
.icon-panther {
  background-image: url(~@/assets/images/icons/icon-panther.png);
}
.icon-salamander {
  background-image: url(~@/assets/images/icons/icon-salamander.png);
}
.icon-zombie {
  background-image: url(~@/assets/images/icons/icon-zombie.png);
}
.icon-demon {
  background-image: url(~@/assets/images/icons/icon-demon.png);
}
.icon-treant {
  background-image: url(~@/assets/images/icons/icon-treant.png);
}
.icon-ooze {
  background-image: url(~@/assets/images/icons/icon-ooze.png);
}
.icon-rust-ooze {
  background-image: url(~@/assets/images/icons/icon-rust-ooze.png);
}
.icon-rock-elemental {
  background-image: url(~@/assets/images/icons/icon-rock-elemental.png);
}
.icon-cave-bear {
  background-image: url(~@/assets/images/icons/icon-cave-bear.png);
}
.icon-sandworm {
  background-image: url(~@/assets/images/icons/icon-sandworm.png);
}
.icon-crystal-worm {
  background-image: url(~@/assets/images/icons/icon-crystal-worm.png);
}
.icon-rock-bear {
  background-image: url(~@/assets/images/icons/icon-rock-bear.png);
}
.icon-diamond-bear {
  background-image: url(~@/assets/images/icons/icon-diamond-bear.png);
}
.icon-lake-elemental {
  background-image: url(~@/assets/images/icons/icon-lake-elemental.png);
}
.icon-storm-elemental {
  background-image: url(~@/assets/images/icons/icon-storm-elemental.png);
}
.icon-giant {
  background-image: url(~@/assets/images/icons/icon-giant.png);
}
.icon-hydra {
  background-image: url(~@/assets/images/icons/icon-hydra.png);
}
.icon-vampire {
  background-image: url(~@/assets/images/icons/icon-vampire.png);
}
.icon-drought {
  background-image: url(~@/assets/images/icons/icon-drought.png);
}
.icon-earthquake {
  background-image: url(~@/assets/images/icons/icon-earthquake.png);
}
.icon-falling-boulders {
  background-image: url(~@/assets/images/icons/icon-falling-boulders.png);
}
.icon-volcano {
  background-image: url(~@/assets/images/icons/icon-volcano.png);
}
.icon-tornado {
  background-image: url(~@/assets/images/icons/icon-tornado.png);
}
.icon-acid-rain {
  background-image: url(~@/assets/images/icons/icon-acid-rain.png);
}
.icon-plague {
  background-image: url(~@/assets/images/icons/icon-plague.png);
}
.icon-pirates {
  background-image: url(~@/assets/images/icons/icon-pirates.png);
}
.icon-hunting {
  background-image: url(~@/assets/images/icons/icon-hunting.png);
}
.icon-gathering {
  background-image: url(~@/assets/images/icons/icon-gathering.png);
}
.icon-fishing {
  background-image: url(~@/assets/images/icons/icon-fishing.png);
}
.icon-digging {
  background-image: url(~@/assets/images/icons/icon-digging.png);
}
.icon-mining {
  background-image: url(~@/assets/images/icons/icon-mining.png);
}
.icon-town {
  background-image: url(~@/assets/images/icons/icon-town.png);
}
.icon-code-of-laws {
  background-image: url(~@/assets/images/icons/icon-code-of-laws.png);
}
.icon-chiefdom {
  background-image: url(~@/assets/images/icons/icon-chiefdom.png);
}
.icon-oligarchy {
  background-image: url(~@/assets/images/icons/icon-oligarchy.png);
}
.icon-republic {
  background-image: url(~@/assets/images/icons/icon-republic.png);
}
.icon-autocracy {
  background-image: url(~@/assets/images/icons/icon-autocracy.png);
}
.icon-landslide {
  background-image: url(~@/assets/images/icons/icon-landslide.png);
}
.icon-earth-shield {
  background-image: url(~@/assets/images/icons/icon-earth-shield.png);
}
.icon-fire-wall {
  background-image: url(~@/assets/images/icons/icon-fire-wall.png);
}
.icon-water-shield {
  background-image: url(~@/assets/images/icons/icon-water-shield.png);
}
.icon-force-shield {
  background-image: url(~@/assets/images/icons/icon-force-shield.png);
}
.icon-vitalized-soil {
  background-image: url(~@/assets/images/icons/icon-vitalized-soil.png);
}
.icon-mud-golem {
  background-image: url(~@/assets/images/icons/icon-mud-golem.png);
}
.icon-earth-avatar {
  background-image: url(~@/assets/images/icons/icon-earth-avatar.png);
}
.icon-magnetizing-will {
  background-image: url(~@/assets/images/icons/icon-magnetizing-will.png);
}
.icon-potent-rock-layer {
  background-image: url(~@/assets/images/icons/icon-potent-rock-layer.png);
}
.icon-copper-vein {
  background-image: url(~@/assets/images/icons/icon-copper-vein.png);
}
.icon-copper-ore {
  background-image: url(~@/assets/images/icons/icon-copper-ore.png);
}
.icon-tin-vein {
  background-image: url(~@/assets/images/icons/icon-tin-vein.png);
}
.icon-tin-ore {
  background-image: url(~@/assets/images/icons/icon-tin-ore.png);
}
.icon-iron-vein {
  background-image: url(~@/assets/images/icons/icon-iron-vein.png);
}
.icon-iron-ore {
  background-image: url(~@/assets/images/icons/icon-iron-ore.png);
}
.icon-silver-vein {
  background-image: url(~@/assets/images/icons/icon-silver-vein.png);
}
.icon-silver-ore {
  background-image: url(~@/assets/images/icons/icon-silver-ore.png);
}
.icon-gold-vein {
  background-image: url(~@/assets/images/icons/icon-gold-vein.png);
}
.icon-gold-ore {
  background-image: url(~@/assets/images/icons/icon-gold-ore.png);
}
.icon-mithril-vein {
  background-image: url(~@/assets/images/icons/icon-mithril-vein.png);
}
.icon-mithril-ore {
  background-image: url(~@/assets/images/icons/icon-mithril-ore.png);
}
.icon-precious-rock-layer {
  background-image: url(~@/assets/images/icons/icon-precious-rock-layer.png);
}
.icon-citrine-vein {
  background-image: url(~@/assets/images/icons/icon-citrine-vein.png);
}
.icon-citrine-gem {
  background-image: url(~@/assets/images/icons/icon-citrine-gem.png);
}
.icon-sapphire-vein {
  background-image: url(~@/assets/images/icons/icon-sapphire-vein.png);
}
.icon-sapphire-gem {
  background-image: url(~@/assets/images/icons/icon-sapphire-gem.png);
}
.icon-emerald-vein {
  background-image: url(~@/assets/images/icons/icon-emerald-vein.png);
}
.icon-emerald-gem {
  background-image: url(~@/assets/images/icons/icon-emerald-gem.png);
}
.icon-ruby-vein {
  background-image: url(~@/assets/images/icons/icon-ruby-vein.png);
}
.icon-ruby-gem {
  background-image: url(~@/assets/images/icons/icon-ruby-gem.png);
}
.icon-diamond-vein {
  background-image: url(~@/assets/images/icons/icon-diamond-vein.png);
}
.icon-diamond-gem {
  background-image: url(~@/assets/images/icons/icon-diamond-gem.png);
}
.icon-civ-transform-earth {
  background-image: url(~@/assets/images/icons/icon-civ-transform-earth.png);
}
.icon-god-war {
  background-image: url(~@/assets/images/icons/icon-god-war.png);
}
.icon-destruction-minion {
  background-image: url(~@/assets/images/icons/icon-destruction-minion.png);
}
.icon-destruction-champion {
  background-image: url(~@/assets/images/icons/icon-destruction-champion.png);
}
.icon-chaos-explosion {
  background-image: url(~@/assets/images/icons/icon-chaos-explosion.png);
}
.icon-chaos-volcano {
  background-image: url(~@/assets/images/icons/icon-chaos-volcano.png);
}
.icon-destroy-world {
  background-image: url(~@/assets/images/icons/icon-destroy-world.png);
}

.icon-all-spells {
  background-image: url(~@/assets/images/icons/all-spells.jpg);
}
.icon-arcane {
  background-image: url(~@/assets/images/icons/arcane.jpg);
}
.icon-fire {
  background-image: url(~@/assets/images/icons/fire.jpg);
}
.icon-air {
  background-image: url(~@/assets/images/icons/air.jpg);
}
.icon-water {
  background-image: url(~@/assets/images/icons/water.jpg);
}
.icon-earth {
  background-image: url(~@/assets/images/icons/earth.jpg);
}
.icon-primal-fire {
  background-image: url(~@/assets/images/icons/primal-fire.jpg);
}
.icon-primal-air {
  background-image: url(~@/assets/images/icons/primal-air.jpg);
}
.icon-primal-water {
  background-image: url(~@/assets/images/icons/primal-water.jpg);
}
.icon-primal-earth {
  background-image: url(~@/assets/images/icons/primal-earth.jpg);
}
.icon-eternal-fire {
  background-image: url(~@/assets/images/icons/eternal-fire.jpg);
}
.icon-eternal-air {
  background-image: url(~@/assets/images/icons/eternal-air.jpg);
}
.icon-eternal-water {
  background-image: url(~@/assets/images/icons/eternal-water.jpg);
}
.icon-eternal-earth {
  background-image: url(~@/assets/images/icons/eternal-earth.jpg);
}
.icon-stars {
  background-image: url(~@/assets/images/icons/stars.jpg);
}
.icon-fate {
  background-image: url(~@/assets/images/icons/fate.jpg);
}
.icon-chaos {
  background-image: url(~@/assets/images/icons/chaos.jpg);
}
.icon-war {
  background-image: url(~@/assets/images/icons/war.jpg);
}
.icon-harmony {
  background-image: url(~@/assets/images/icons/harmony.jpg);
}
.icon-art {
  background-image: url(~@/assets/images/icons/art.jpg);
}
.icon-order {
  background-image: url(~@/assets/images/icons/order.jpg);
}
.icon-peace {
  background-image: url(~@/assets/images/icons/peace.jpg);
}
.icon-trickery {
  background-image: url(~@/assets/images/icons/trickery.jpg);
}
.icon-shadow {
  background-image: url(~@/assets/images/icons/shadow.jpg);
}
.icon-nature {
  background-image: url(~@/assets/images/icons/nature.jpg);
}
.icon-life {
  background-image: url(~@/assets/images/icons/life.jpg);
}
.icon-knowledge {
  background-image: url(~@/assets/images/icons/knowledge.jpg);
}
.icon-science {
  background-image: url(~@/assets/images/icons/science.jpg);
}
.icon-decay {
  background-image: url(~@/assets/images/icons/decay.jpg);
}
.icon-death {
  background-image: url(~@/assets/images/icons/death.jpg);
}
.icon-mana {
  background-image: url(~@/assets/images/icons/mana.jpg);
}
.icon-discount-fire {
  background-image: url(~@/assets/images/icons/discount-fire.jpg);
}
.icon-discount-air {
  background-image: url(~@/assets/images/icons/discount-air.jpg);
}
.icon-discount-water {
  background-image: url(~@/assets/images/icons/discount-water.jpg);
}
.icon-discount-earth {
  background-image: url(~@/assets/images/icons/discount-earth.jpg);
}
.icon-mana-restore {
  background-image: url(~@/assets/images/icons/mana-restore.jpg);
}
.icon-mana-charge {
  background-image: url(~@/assets/images/icons/mana-charge.jpg);
}
.icon-levelup {
  background-image: url(~@/assets/images/icons/icon-levelup.png);
}
.icon-xp-gain {
  background-image: url(~@/assets/images/icons/icon-xp-gain.png);
}
.icon-create {
  background-image: url(~@/assets/images/icons/icon-create.png);
}
.icon-destroy {
  background-image: url(~@/assets/images/icons/icon-destroy.png);
}
.icon-log-list {
  background-image: url(~@/assets/images/icons/icon-log-list.png);
}
