.icon-elves {
  background-image: url(~@/assets/images/icons/icon-elves.png);
}
.icon-trolls {
  background-image: url(~@/assets/images/icons/icon-trolls.png);
}
.icon-humans {
  background-image: url(~@/assets/images/icons/icon-humans.png);
}
.icon-orcs {
  background-image: url(~@/assets/images/icons/icon-orcs.png);
}
.icon-gnomes {
  background-image: url(~@/assets/images/icons/icon-gnomes.png);
}
.icon-dwarves {
  background-image: url(~@/assets/images/icons/icon-dwarves.png);
}

.icon-forest {
  background-image: url(~@/assets/images/icons/icon-forest.png);
}
.icon-jungle {
  background-image: url(~@/assets/images/icons/icon-jungle.png);
}
.icon-desert {
  background-image: url(~@/assets/images/icons/icon-desert.png);
}
.icon-grassland {
  background-image: url(~@/assets/images/icons/icon-grassland.png);
}
.icon-mountain {
  background-image: url(~@/assets/images/icons/icon-mountain.png);
}
.icon-swamp {
  background-image: url(~@/assets/images/icons/icon-swamp.png);
}

.icon-tiger {
  background-image: url(~@/assets/images/icons/icon-tiger.png);
}
.icon-dragon {
  background-image: url(~@/assets/images/icons/icon-dragon.png);
}
.icon-wolves {
  background-image: url(~@/assets/images/icons/icon-wolves.png);
}
.icon-lion {
  background-image: url(~@/assets/images/icons/icon-lion.png);
}
.icon-panther {
  background-image: url(~@/assets/images/icons/icon-panther.png);
}
.icon-salamander {
  background-image: url(~@/assets/images/icons/icon-salamander.png);
}
.icon-zombie {
  background-image: url(~@/assets/images/icons/icon-zombie.png);
}
.icon-demon {
  background-image: url(~@/assets/images/icons/icon-demon.png);
}
.icon-treant {
  background-image: url(~@/assets/images/icons/icon-treant.png);
}
.icon-ooze {
  background-image: url(~@/assets/images/icons/icon-ooze.png);
}
.icon-rock-elemental {
  background-image: url(~@/assets/images/icons/icon-rock-elemental.png);
}
.icon-lake-elemental {
  background-image: url(~@/assets/images/icons/icon-lake-elemental.png);
}
.icon-storm-elemental {
  background-image: url(~@/assets/images/icons/icon-storm-elemental.png);
}
.icon-giant {
  background-image: url(~@/assets/images/icons/icon-giant.png);
}
.icon-hydra {
  background-image: url(~@/assets/images/icons/icon-hydra.png);
}
.icon-vampire {
  background-image: url(~@/assets/images/icons/icon-vampire.png);
}
.icon-drought {
  background-image: url(~@/assets/images/icons/icon-drought.png);
}
.icon-earthquake {
  background-image: url(~@/assets/images/icons/icon-earthquake.png);
}
.icon-volcano {
  background-image: url(~@/assets/images/icons/icon-volcano.png);
}
.icon-tornado {
  background-image: url(~@/assets/images/icons/icon-tornado.png);
}
.icon-acid-rain {
  background-image: url(~@/assets/images/icons/icon-acid-rain.png);
}
.icon-plague {
  background-image: url(~@/assets/images/icons/icon-plague.png);
}
.icon-pirates {
  background-image: url(~@/assets/images/icons/icon-pirates.png);
}
.icon-hunting {
  background-image: url(~@/assets/images/icons/icon-hunting.png);
}
.icon-gathering {
  background-image: url(~@/assets/images/icons/icon-gathering.png);
}
.icon-fishing {
  background-image: url(~@/assets/images/icons/icon-fishing.png);
}
.icon-digging {
  background-image: url(~@/assets/images/icons/icon-digging.png);
}
.icon-mining {
  background-image: url(~@/assets/images/icons/icon-mining.png);
}
.icon-town {
  background-image: url(~@/assets/images/icons/icon-town.png);
}
.icon-code-of-laws {
  background-image: url(~@/assets/images/icons/icon-code-of-laws.png);
}
.icon-chiefdom {
  background-image: url(~@/assets/images/icons/icon-chiefdom.png);
}
.icon-oligarchy {
  background-image: url(~@/assets/images/icons/icon-oligarchy.png);
}
.icon-republic {
  background-image: url(~@/assets/images/icons/icon-republic.png);
}
.icon-autocracy {
  background-image: url(~@/assets/images/icons/icon-autocracy.png);
}
.icon-landslide {
  background-image: url(~@/assets/images/icons/icon-landslide.png);
}
.icon-earth-shield {
  background-image: url(~@/assets/images/icons/icon-earth-shield.png);
}
.icon-fire-wall {
  background-image: url(~@/assets/images/icons/icon-fire-wall.png);
}
.icon-water-shield {
  background-image: url(~@/assets/images/icons/icon-water-shield.png);
}
.icon-force-shield {
  background-image: url(~@/assets/images/icons/icon-force-shield.png);
}
.icon-mud-golem {
  background-image: url(~@/assets/images/icons/icon-mud-golem.png);
}

.icon-all-spells {
  background-image: url(~@/assets/images/icons/all-spells.jpg);
}
.icon-arcane {
  background-image: url(~@/assets/images/icons/arcane.jpg);
}
.icon-fire {
  background-image: url(~@/assets/images/icons/fire.jpg);
}
.icon-air {
  background-image: url(~@/assets/images/icons/air.jpg);
}
.icon-water {
  background-image: url(~@/assets/images/icons/water.jpg);
}
.icon-earth {
  background-image: url(~@/assets/images/icons/earth.jpg);
}
.icon-primal-fire {
  background-image: url(~@/assets/images/icons/primal-fire.jpg);
}
.icon-primal-air {
  background-image: url(~@/assets/images/icons/primal-air.jpg);
}
.icon-primal-water {
  background-image: url(~@/assets/images/icons/primal-water.jpg);
}
.icon-primal-earth {
  background-image: url(~@/assets/images/icons/primal-earth.jpg);
}
.icon-eternal-fire {
  background-image: url(~@/assets/images/icons/eternal-fire.jpg);
}
.icon-eternal-air {
  background-image: url(~@/assets/images/icons/eternal-air.jpg);
}
.icon-eternal-water {
  background-image: url(~@/assets/images/icons/eternal-water.jpg);
}
.icon-eternal-earth {
  background-image: url(~@/assets/images/icons/eternal-earth.jpg);
}
.icon-stars {
  background-image: url(~@/assets/images/icons/stars.jpg);
}
.icon-fate {
  background-image: url(~@/assets/images/icons/fate.jpg);
}
.icon-chaos {
  background-image: url(~@/assets/images/icons/chaos.jpg);
}
.icon-war {
  background-image: url(~@/assets/images/icons/war.jpg);
}
.icon-harmony {
  background-image: url(~@/assets/images/icons/harmony.jpg);
}
.icon-art {
  background-image: url(~@/assets/images/icons/art.jpg);
}
.icon-order {
  background-image: url(~@/assets/images/icons/order.jpg);
}
.icon-peace {
  background-image: url(~@/assets/images/icons/peace.jpg);
}
.icon-trickery {
  background-image: url(~@/assets/images/icons/trickery.jpg);
}
.icon-shadow {
  background-image: url(~@/assets/images/icons/shadow.jpg);
}
.icon-nature {
  background-image: url(~@/assets/images/icons/nature.jpg);
}
.icon-life {
  background-image: url(~@/assets/images/icons/life.jpg);
}
.icon-knowledge {
  background-image: url(~@/assets/images/icons/knowledge.jpg);
}
.icon-science {
  background-image: url(~@/assets/images/icons/science.jpg);
}
.icon-decay {
  background-image: url(~@/assets/images/icons/decay.jpg);
}
.icon-death {
  background-image: url(~@/assets/images/icons/death.jpg);
}
.icon-mana {
  background-image: url(~@/assets/images/icons/mana.jpg);
}
.icon-discount-fire {
  background-image: url(~@/assets/images/icons/discount-fire.jpg);
}
.icon-discount-air {
  background-image: url(~@/assets/images/icons/discount-air.jpg);
}
.icon-discount-water {
  background-image: url(~@/assets/images/icons/discount-water.jpg);
}
.icon-discount-earth {
  background-image: url(~@/assets/images/icons/discount-earth.jpg);
}
.icon-mana-regen {
  background-image: url(~@/assets/images/icons/mana-regen.jpg);
}
.icon-mana-charge {
  background-image: url(~@/assets/images/icons/mana-charge.jpg);
}
.icon-levelup {
  background-image: url(~@/assets/images/icons/icon-levelup.png);
}
.icon-xp-gain {
  background-image: url(~@/assets/images/icons/icon-xp-gain.png);
}
