@mixin cols($size) {
  .col#{$size}-33 {
    width: 33.33%;
  }
  .col#{$size}-66 {
    width: 66.67%;
  }
  @for $i from 1 through 20 {
    .col#{$size}-#{$i * 5} {
      width: percentage($i / 20);
    }
  }
}

.row {
  margin-left: -$spacing;
  @include clearfix;
}

[class*='col-'] {
  float: left;
  width: 100%;
  padding-left: $spacing;
  box-sizing: border-box;
  min-height: 1px;
}

@include cols('');

@include media(s) {
  @include cols(-s);
}

@include media(m) {
  @include cols(-m);
}

@include media(l) {
  .row {
    margin-left: -$spacingLg;
  }

  [class*='col-'] {
    padding-left: $spacingLg;
  }

  @include cols(-l);
}

@include media(xl) {
  @include cols(-xl);
}
